<%- include('../../../layouts/admin/header') %>
    <%- include('../../../layouts/admin/topbar') %>
        <div class="container-fluid page-body-wrapper">
            <%- include('../../../layouts/admin/sidenavbar') %>
                <div class="main-panel">
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                     <div class="col-md-8">

                                     </div>
                                     <div class="col-md-4">
                                       <a class="btn btn-gradient-primary" href="adminapiadd">Add api</a>
                                     </div>

                                    </div>
                                    <h4 class="card-title">Api List</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th> Api id </th>
                                                    <th> Api Name </th>
                                                    <th> Url </th>
                                                    <th> Api Balnce </th>
                                                    <th> Status </th>
                                                    <th> View </th>
                                                </tr>
                                            </thead>
                                            <tbody>

<tr>

    <td> <b> data </b></td>
    
    <td>  data </td>

<td>
    <label class="badge badge-gradient-warning"><a>Balance</a></label>
</td>
    <td> <button class="btn btn-gradient-primary" type="button"> data.</button> </td>
    <td>
        <div class="dropdown">
            <button class="btn btn-gradient-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">

            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="api/apimopcode/=data._id%>/mobile">Mobile</a>
                <a class="dropdown-item" href="api/apidopcode/%=data._id%/dth">Dth</a>
                <a class="dropdown-item" href="#">Edit</a>

            </div>
        </div>
    </td>
</tr>
                                    
                                                
                                               

                                            </tbody>
                                        </table>
                                    </div>
                                    

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
        <script>
            $(document).ready(function () {
                    // Open the modal when the document is ready
                    $('#myModal').modal('show');
                });
        </script>


        <%- include('../../../layouts/admin/footer') %>